# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/

#vscode
.vscode/

# pycharm
.idea/

# vim
*.swp

# notebook
notebook/
